*.changes
*.class
*.log
*.pdf
*.swp
*.tar.gz
*.trs
*~
.classpath
.project
/*.png
/tools
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bootstrap.tar.bz2
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/missing
build-aux/test-driver
build-macos-pkg
config.h
config.h.in
config.log
config.status
configure
debian/*.substvars
debian/debhelper-build-stamp
debian/files
debian/flabbergast-cil
debian/flabbergast-common
debian/flabbergast-java
debian/tmp
debian/vim-flabbergast
doc-*.xml
flabbergast_sql.7
libtool
pkgroot
platform/*/*-build-cache
platform/*/?flabbergast
platform/*/?flabbergast-docgen
platform/*/?flabbergast-repl
platform/cli/AssemblyInfo.cs
platform/cli/config.cs
platform/jvm/runtime/flabbergast/Configuration.java
update-flabbergast
www/*.html
www/*.pdf
www/*.xml
www/o_0-xref.*
www/o_0.*
