*~
*-*.vapi
*.c
*.deps
*.gir
*.h
*.la
*.lo
*.o
*.pc
*.pdf
*.png
*.stamp
.libs/
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
config.h
config.h.in
config.log
config.status
configure
doc/
flabbergast
flabbergast-fmt
flabbergast-print
update-flabbergast
libtool
m4/
stamp-h1
!misc.c
!readline.c
