*.changes
*.class
*.log
*.pdf
*.png
*.swp
*.tar.gz
*.trs
*~
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bootstrap.tar.bz2
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/missing
build-aux/test-driver
build-macos-pkg
config.h
config.h.in
config.log
config.status
configure
debian/*.substvars
debian/files
debian/flabbergast-cil
debian/flabbergast-common
debian/flabbergast-java
debian/tmp
debian/vim-flabbergast
doc-*.xml
flabbergast_sql.7
libtool
pkgroot
platform/*/*-build-cache
platform/*/?flabbergast
platform/*/?flabbergast-repl
platform/*/?flabbergast-docgen
update-flabbergast
